section.container
	div#audio
	header.main-header
		h1= title

	div.padder
	
	section.main-left
		section.blog-container
			div.blog-title What is Rambler?
			div.blog-body
				p Rambler is a simple application written for the Hack the Midwest competition held in Kansas City on 02 & 03 June 2012.
				p This application interacts with Tumblr.  Simply type in a Tumblr blog in the field provided and information will be downloaded about the blog.
				p After information has been retrieved, you can step through each post and even have the website read it back to you.
				p
					h3 Technical Info
					ul
						li Node.js
						li Express
						li Socket.io
						li Heroku
						li Speak.js
						li Tumblr's Api
						

	section.main-right
		section.blog-finder-section
			section.blog-finder-input
				form
					div
						input(type='text', placeholder='Myblog.tumblr.com', id='Blog')
					div.blog-finder-submit
						input(type='submit', value='Load Blog', id='Submit')
			section.blog-finder-list
				ul
					//li stonecarvedllama.tumblr.com
					//li.active dubsteplyrics.tumblr.com
		section.blog-navigation
			ul
				li.previous-blog
					img(src="/images/control-start-icon.png")
				li.previous-post
					img(src="/images/control-rewind-icon.png")
				li.play
					img(src="/images/control-play-icon.png")
				li.next-post
					img(src="/images/control-fastforward-icon.png")
				li.next-blog
					img(src="/images/control-end-icon.png")
	
	footer.main-footer
		div.copyright &copy; 2012 James Eggers

script(src='/scripts/jquery-1.7.2.js')
script(src='/scripts/clippy.min.js')
script(src='/socket.io/socket.io.js')
script(src='/scripts/index.js')