!!! 5
html
	head(lang="en")
		title Hack The Midwest - Rambler
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oxygen')
		link(rel='stylesheet', href='/styles/style.css')
	body!= body