@import url(reset.css);

html, body{width: 100%; height:100%;}
section, header, footer {box-sizing:border-box;}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url("/images/white_wall.png") top left;
}

header.main-header {
	width:100%;
	background:#000;
	color:#ccc;
	padding:5px 10px;
}

div.padder {height:25px;}

header.main-header h1 {
	font-family: 'Oxygen', sans-serif;
	font-size:2em;
}

footer.main-footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background:rgba(0,0,0, 0.3);
	padding:5px;
}

.main-left {
	width:55%;
	display:inline-block;
	padding:10px;
	float:left;
	height:600px;
}

.blog-container {
	width:90%;
	margin:auto;
	padding:15px;
	height:500px;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
	overflow-x:hidden;
	background:rgba(128,0,0, 0.2);
}

.blog-title {
	width:100%;
	border-bottom: 1px solid #999;
	font-size:1.5em;
}

.blog-container p {
	margin-top:10px;
}


.main-right {
	width:45%;
	display:inline-block;
	padding:10px;
	height:600px;
}

.blog-finder-section {
	border: 1px solid #ccc;
	border-radius: 15px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.2);
	background:rgba(128,64,128, 0.2);
}

.blog-finder-input {
	width:100%;
	padding:15px;
	border:1px solid #ccc;
	border-top: 0;
	border-radius:15px;
	box-shadow: 2px 0px 2px rgba(0,0,0,0.2);
	background:rgba(128,0,128, 0.2);
}

.blog-finder-input input[type='text'] {
	display:block;
	width:90%;
	padding:5px;	
	margin:0 auto 10px;
	font-size:1.2em;
	border:1px solid #ccc;
	border-radius:15px;
}

.blog-finder-input .blog-finder-submit{
	display:block;
	width:90%;
	margin:auto;
	text-align:right;
}

.blog-finder-submit input[type='submit'] {
	border:1px solid #ccc;
	border-radius: 15px;
	box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
	color:#333;
	font-size:1.2em;
	cursor:pointer;
}
.blog-finder-list {
	padding:0px 15px;
}

.blog-finder-list li {
	padding-left: 15px;
	margin:5px 0;
	font-size:0.9em;
}

.blog-finder-list li.active {
	background:url("/images/active.png") 0px 2px no-repeat;
}

.blog-navigation {
	margin-top:15px;
}

.blog-navigation li{
	display:inline-block;
	width:17%;
	margin-left:5px;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-shadow:3px 3px 3px rgba(0,0,0,0.2);
	background:rgba(128,64,128, 0.2);
	cursor:pointer;
}

li.previous-blog img,
li.previous-post img, 
li.play img,
li.next-post img,
li.next-blog img
{
	width:60%;
	display:block;
	margin:5px auto;
}
